*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section-title{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    text-align: center;
    margin-bottom: 25px;
}
.section-discription{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}




/* nav section style */
.header-container{
    margin-top: 30px;
}
.container{
    width: 1140px;
    margin: 0 auto ;

}
 .header-container > nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.nav-title{
    font-size: 28px;
    font-weight: 800;
}
.resume-btn{
    padding: 17px 24px;
    border-radius: 8px;
    opacity: 0.9;
    font-size: 20px;
    font-weight: 600px;
    background-color: transparent;
    border: 1px solid rgb(13, 19, 33);
}


/* banner-container style */

#banner-section{
    background-image: url(../assets/Hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 580px;
    margin-top: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px dashed black;
    border-left: 0;
    border-right: 0;
}
.banner-container{
    text-align: center;
}

.banner-container > img {
    width: 193px;
}
.banner-title{
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    padding: 26px 0 24px 0;
}

p{
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: rgb(13, 19, 33);
}
.contactMe-btn{
    padding: 18px 24px;
    border-radius: 8px;
    background-color: black;
    color: white;
    border: none;
    margin-top: 20px;
}



/* Why Web Development  style */

.web-development-section{
    margin-top: 160px;
    padding: 0 90px;
    
}

.change-the-world{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 90px;
}
.change-content > h3{
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}
.change-dis{
    color: rgba(13, 19, 33, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 16px;
}

.change-content > button {
    color: rgba(13, 19, 33, 0.7);
    background-color: transparent;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    padding: 12px 20px;
    border: 1px solid rgba(13, 19, 33, 0.7);
    margin-top: 30px;
}

.change-img{
    height: 217px;
}


/* my-inspiration-section style */
.my-inspiration-section{
    margin-top: 160px;
    padding: 0 90px;
}
.inspiration-ytContent iframe{
    width: 100%;
    height: 550px;
    border-radius: 18px;
    margin-top: 70px;
}


/* My Next Target */

.next-target-section{
    margin-top: 160px;
    padding: 0 90px;
}